.black-bg {
    background-color: brown;
    padding: 20px;
    border-radius: 10px;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
}

.footer a:hover {
    color: #d4d4d4;
    text-decoration: underline;
}

.social-icons a {
    font-size: 1.5rem;
    margin: 0 10px;
    color: white;
}

.social-icons a:hover {
    color: #d4d4d4;
}